<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


<!-- *** INSTRUCTIONS: Go through this HTML file and insert your content as needed.
         You can search within the text for "_Add" to make sure you don't miss anything. *** -->


<!-- *** UPDATE: Update the head metadata [title] and [name="description"] below. *** -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description"                  content="{{ title }}">
        <meta name="viewport"                     content="width=device-width, initial-scale=1">

        <meta property="og:title"                 content="{{ title }}" />
        <meta property="og:description"           content="{{ report_description }}" />
        <meta property="og:type"                  content="article" /><!-- Don't change. -->
        <meta property="article:published_time"   content="{{ publish_date }}" />
        <meta property="article:publisher"        content="http://www.facebook.com/lupinsoftwareco/" />
        <meta property="og:image"                 content="http://www.example.com/assets/img/pic.jpg" /><!-- _Add URL to medium-sized horizontal cover image -->


        <!-- The HTML5 Shiv enables use of HTML5 sectioning elements in legacy Internet Explorer and provides basic HTML5 styling for Internet Explorer 6-9, Safari 4.x (and iPhone 3.x), and Firefox 3.x. - https://github.com/aFarkas/html5shiv -->
        <script src="assets/js/vendor/html5shiv-printshiv.min.js"></script>

        <!-- Screen styles -->
        <link rel="stylesheet" href="assets/css/screen.css">

        <!-- Print styles -->
        <link rel="stylesheet" href="assets/css/print.css" type="text/css" media="print" />

        <!-- Font Awesome is used for icons - http://fortawesome.github.io/Font-Awesome/ -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <script type="text/javascript" src="assets/js/ptd6qqr.js"></script>
        <script type="text/javascript" src="assets/js/plotly.min.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    </head>



    <body><div id="content" class="wrapper">
    <!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please upgrade your browser</a> to improve your experience.</p><![endif]-->

        <header class="global-header group">
            <span class="header-page-logo"><a href="https://www.lupinsoftwareco.com"><img src="assets/img/Lupin_Logo-04.png" alt="logo"></a></span>
            <span class="header-page-sections"><a href="#" class="my_popup_open"><i class="fa fa-bars"></i><span class="label"> Sections</span></a></span>
            <span class="header-page-download"><a href="#" class="my_popup_open"><i class="fa fa-download"></i><span class="label"> Download</span></a></span>
<!-- *** NOTE: These share icons in the Global Header utilize the ShareThis service. In order to work, you'll need to sign up for the free service and update the script down in the footer. *** -->
            <span class="header-page-social-media">
                <a href="#" class="social-network"><span class="st_twitter_custom"><i class="fa fa-twitter"></i></span></a>
                <a href="#" class="social-network"><span class="st_facebook_custom"><i class="fa fa-facebook-square"></i></span></a>
                <a href="#" class="social-network"><span class="st_googleplus_custom"><i class="fa fa-google-plus"></i></span></a>
                <a href="#" class="social-network"><span class="st_linkedin_custom"><i class="fa fa-linkedin-square"></i></span></a>
                <a href="#" class="social-network"><span class="st_email_custom"><i class="fa fa-envelope"></i></span></a>
            </span>
        </header>

<!-- REPORT COVER -->
<!-- The report cover simply provides a visual introduction to the text. -->

<!-- *** UPDATE: Update these cover elements. The background image is controlled in the "COVER" section of the file "_4_template.scss". *** -->
        <div class="report-cover group">
            <div class="cover-text">
                <h1 class="cover-text-title">{{ title }}</h1>
                <p class="cover-text-subtitle">{{ subtitle }}</p>
                <img class="cover-logo" src="assets/img/Lupin_Logo-04.png" alt="Logo">
                <span class="cover-text-arrow"><a href="#front-matter"><i class="fa fa-angle-down"></i></a></span>
            </div>
        </div>

<!-- ARTICLE Begins -->

        <div class="article-container">

            <div class="main group">

<!-- FRONT-MATTER -->
<!-- This section contains information about what the report contains. It is intended as an introduction or quick summary of the report as a whole. -->

                <section id="front-matter" class="section group anchor">

                    <div class="report-overview group">
                        <h1>Front Matter</h1>
                        <div id="abstract" class="group">
                            <h2>Abstract</h2>
                            <div class="abstract-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>

                                <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>

                                <p>Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. </p>

                            </div>
                        </div>

                        <nav id="table-of-contents" >
                            <h2>Table of Contents</h2>
                            <ol class="nested-numbers">
                                <li><a href="#introduction">Introduction</a>
                                     <ol class="nested-numbers">
                                        <li><a href="#what-is-insurance-needs-analysis">What is an Insurance Needs Analysis?</a></li>
                                        <li><a href="#report-content-summary">Report Content Summary</a></li>
                                    </ol>
                                </li>
                                <li><a href="#report-content">Report Content</a>
                                    <ol class="nested-numbers">
                                        <li><a href="#insurance-need">Insurance Need</a></li>
                                        <li><a href="#insurance-policy-fit">Insurance Policy Fit</a></li>
                                        <li><a href="#insurance-policy-comparison">Insurance Policy Comparison</a></li>
                                    </ol>
                                </li>
                                <li><a href="#appendix-references">Appendix: References</a></li>
                            </ol>
                        </nav><!-- end #table-of-contents -->

                        <div id="notes" class="group">
                            <h2>Notes</h2>
                            <a class="showhide"><i class="fa fa-angle-down"></i></a>
                            <div class="showhide-target">
                                <h3>Acknowledgements</h3>
                                <p>This report was automatically generated by Lupin Software Co. on behalf of {{ report_author }}.</p>
                                <h3>Copyright and Commercial Use</h3>
                                <p>This report is intended to be reviewed solely by {{ report_author }} with the requesting party.</p>
                            </div>
                        </div><!-- end #notes -->

                        <div id="download" class="group">
                            <h2><i class="fa fa-download"></i> Download</h2>
                            <div class="download-formats">
                                <a class="download-file button" href="#">PDF</a>
                            </div>
                        </div><!-- end #download -->

                    </div><!-- end .report-overview -->

                </section><!-- end #front-matter -->

<!-- BODY-TEXT -->
<!-- The following sections contain the body content of the report.
     Each section defines a major section or chapter of the report. -->

                <section class="body-matter group stickem-container"><!-- Only used for .section-context element -->

                    <h1>Body Matter</h1>

<!-- Start: Section 1 - INTRODUCTION -->

                    <section id="introduction" class="section anchor group">

                        <div class="section-context stickem">
                            <span class="section-context-label">Reading Now:</span>
                            <ul class="nav">
                                <li>
                                    <a href="#introduction">1. Introduction</a>
                                    <ul class="nav">
                                        <li><a href="#what-is-insurance-needs-analysis">What is an Insurance Needs Analysis?</a></li>
                                        <li><a href="#report-content-summary">Report Content Summary</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#report-content">Report Content</a>
                                    <ul class="nav">
                                       <li><a href="#insurance-need">Insurance Need</a></li>
                                        <li><a href="#insurance-policy-fit">Insurance Policy Fit</a></li>
                                        <li><a href="#insurance-policy-comparison">Insurance Policy Comparison</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="quick-links">
                            <span class="quick-links-item back-to-top"><a href="#content"><i class="fa fa-arrow-up"></i><br />Back to Top</a></span>
                            <span class="quick-links-item next-section" style="display: none;"><a href="#">&nbsp;</a></span>
                        </div>

                        <div class="section-content group">
                            <h2><span class="number">1. </span>Introduction</h2>
                            <span class="permalink"><a href="#introduction"><i class="fa fa-link"></i> link to this section</a></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. </p>
                            <div class="callout">
                                <div class="callout-container group">
                                    <figure class="img-container">
                                        <img src="assets/img/biophilia_fallingwater-1200.jpg" >
                                        <!-- <figcaption>Photo courtesy of Figuura.</figcaption> -->
                                    </figure>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. </p
                            <p>Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
                            <section class="anchor" id="what-is-insurance-needs-analysis">
                                <h3><span class="number">1.1 </span>What is an Insurance Needs Analysis?</h3>
                                <span class="permalink"><a href="#what-is-insurance-needs-analysis"><i class="fa fa-link"></i> link to this section</a></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. </p>
                                <p>Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                                <p>Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. Sed lectus. </p>

                                <div class="callout">
                                    <div class="callout-container group">
                                        <figure class="img-container">
                                            <img src="assets/img/biophilia-obp-1200.jpg">
                                        </figure>
                                        <p class="callout-headline">What is an Insurance Needs Analysis?</p>
                                        <p> Maecenas mattis. Sed convallis tristique sem. Proin ut ligula ve</p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. </p>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. </p>
                                <p>Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. </p>
                                <p>Suspendisse in justo eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet mauris. </p>
                                <p>Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. Sed pretium blandit orci. </p>
                                <p>Ut eu diam at pede suscipit sodales. Aenean lectus elit, fermentum non, convallis id, sagittis at, neque. Nullam mauris orci, aliquet et, iaculis et, viverra vitae, ligula. Nulla ut felis in purus aliquam imperdiet. Maecenas aliquet mollis lectus. Vivamus consectetuer risus et tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. </p>
                            </section><!-- end #what-is-insurance-needs-analysis -->

                            <section class="anchor" id="report-content-summary">
                                <h3><span class="number">1.2 </span>Report Content Summary</h3>
                                <span class="permalink"><a href="#report-content-summary"><i class="fa fa-link"></i> link to this section</a></span>
                                <div class="callout">
                                    <div class="callout-container group">
                                        <figure class="img-container">
                                            <img src="assets/img/biophilia-scjwaxbuilding-1200.jpg" alt="Frank Lloyd Wright’s SC Johnson Wax building">
                                        </figure>
                                        <p class="callout-headline">Report Content summary</p>
                                        <p>nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla.</p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                                <p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. </p>
                                <p>Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. </p>
                                <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. </p>
                                <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. </p>
                            </section><!-- end #report-content-summary -->

                        </div><!-- end .section-content -->
                    </section><!-- end #introduction -->

<!-- End:   SECTION 1 - INTRODUCTION -->

<!-- Start: SECTION 2 - REPORT CONTENT -->

                    <section class="section anchor group" id="report-content">
                        <div class="section-content group">
                            <h2><span class="number">2. </span>Report Content</h2>
                            <span class="permalink"><a href="#report-content"><i class="fa fa-link"></i> link to this section</a></span>
                            <p>Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. </p>
                            <section class="anchor" id="insurance-need">
                                <h3><span class="number">2.1 </span>Insurance Need</h3>
                                <span class="permalink"><a href="#insurance-need"><i class="fa fa-link"></i> link to this section</a></span>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. </p>
                                <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. </p>
                                <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. Sed pretium blandit orci. Ut eu diam at pede suscipit sodales. </p>
                                <figure class="img-container img-column group">
                                    {{ needs_analysis_plot }}
                                   <figcaption><span class="caption-headline">How to interpret</span>que nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi </figcaption>
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. </p>
                                <p>Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. </p>
                            </section><!-- end #insurance-need -->

                            <section class="anchor" id="insurance-policy-fit">
                                <h3><span class="number">2.2 </span>Insurance Policy Fit</h3>
                                <span class="permalink"><a href="#insurance-policy-fit"><i class="fa fa-link"></i> link to this section</a></span>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. </p>
                                <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. </p>
                                <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. Sed pretium blandit orci. Ut eu diam at pede suscipit sodales. </p>
                                <figure class="img-container img-column group">
                                    {{ insurance_policy_fit_plot }}
                                    <figcaption><span class="caption-headline">How to interpret</span>que nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi </figcaption>
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. </p>
                                <p>Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. </p>
                            </section><!-- end #insurance-policy-fit -->

                            <section class="anchor" id="insurance-policy-comparisons">
                                <h3><span class="number">2.3 </span>Insurance Policy Comparison</h3>
                                <span class="permalink"><a href="#insurance-policy-comparison"><i class="fa fa-link"></i> link to this section</a></span>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. </p>
                                <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui. Praesent blandit dolor. Sed non quam. In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet. Donec lacus nunc, viverra nec, blandit vel, egestas et, augue. Vestibulum tincidunt malesuada tellus. Ut ultrices ultrices enim. Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. </p>
                                <p>Integer lacinia sollicitudin massa. Cras metus. Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. Sed pretium blandit orci. Ut eu diam at pede suscipit sodales. </p>
                                <figure class="img-container img-column group">
                                    {{ insurance_policy_fit_comparison_plot }}
                                    <figcaption><span class="caption-headline">How to interpret</span>que nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi </figcaption>
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. </p>
                                <p>Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. </p>
                           </section><!-- end #insurance-policy-comparison -->
                        </div><!-- end .section-content -->
                    </section><!-- end #report-content -->

<!-- End:   SECTION 2 - REPORT CONTENT -->

<!-- APPENDICES - These are intended as supplemental materials, not the main text. -->

<!-- Appendix: References -->

                    <section id="appendix-references" class="appendix section anchor footnotes group">
                        <div class="section-content group">
                            <h2><span class="number">5. </span>Appendix: References</h2>
                            <span class="permalink"><a href="#references"><i class="fa fa-link"></i> link to this section</a></span>


                            <p id="footnote-36" class="anchor">
                            Trenaman, Boivin “<cite>Insurance Modelling for Dummies</cite>, 2004. Economics Monthly #164.” Agency for Economic Integrity, Vancouver, BC. May 2007.
                                <a href="#footnote-mark-36" class="footnote-back-link">22<i class="fa fa-level-up"></i></a>
                                <a href="#footnote-mark-40" class="footnote-back-link">23<i class="fa fa-level-up"></i></a>
                                <a href="#footnote-mark-101" class="footnote-back-link">99<i class="fa fa-level-up"></i></a>
                            </p>

                            <p id="footnote-49" class="anchor">
                            Bellet, Preissler, et all. “<cite>The Smart Investor</cite>.” University of British Columbia. The Center for Economic Prosperity. 1994.
                                <a href="#footnote-mark-49" class="footnote-back-link">49<i class="fa fa-level-up"></i></a>
                            </p>
                        </div><!-- end .section-content -->
                    </section><!-- end #references -->

                </section><!-- end .appendices -->

                <footer class="page-footer group">
                    <p>© 2020 <a href="https://lupinsoftwareco.com">Lupin Software Co</a> - All rights reserved.</p>
                </footer>

                </div> <!-- .article-body end -->

            </div><!-- .main end -->
        </div> <!-- .article-container end -->

<!-- MY_POP OVERLAY MENU -->

        <div id="my_popup">
            <h1>Overlay Menu</h1>
            <header class="group my_popup-header my_popup-section">
                <p class="my_popup_close-return"><a class="my_popup_close"><i class="fa fa-chevron-left"></i> Continue reading</a></p>
                <h2>{{ title }}</h2>
                <p class="report-subtitle">{{ subtitle }}</p>
                <p class="author">By <a href="https://lupinsoftwareco.com">Lupin Software Co.</a></p>
            </header>
            <div class="group my_popup-download my_popup-section">
                <h3><i class="fa fa-download"></i> Download</h3>
                <span class="showhide"><i class="fa fa-angle-down showhide-toggle-open"></i></span>
                <div class="download-formats showhide-target group">
                    <a class="download-file button" href="#">PDF</a>
                </div>
            </div>
            <div class="group my_popup-table-of-contents my_popup-section">
                <h3>Table of Contents</h3>
                <ol class="nested-numbers">
                    <li><a href="#introduction" class="localnav">Introduction</a>
                        <ol class="nested-numbers">
                            <li><a href="#what-is-insurance-needs-analysis" class="localnav">What is an Insurance Needs Analysis?</a></li>
                            <li><a href="#report-content-summary" class="localnav">Report Content Summary</a></li>
                        </ol>
                    </li>
                    <li><a href="#report-content" class="localnav">Report Content</a>
                        <ol class="nested-numbers">
                            <li><a href="#insurance-need">Insurance Need</a></li>
                                        <li><a href="#insurance-policy-fit">Insurance Policy Fit</a></li>
                                        <li><a href="#insurance-policy-comparison">Insurance Policy Comparison</a></li>
                        </ol>
                    </li>
                    <li><a href="#appendix-references" class="localnav">Appendix: References</a></li>
                </ol>
            </div>
            <div id="my_popup-share" class="group my_popup-share my_popup-section">
                <h3><i class="fa fa-share"></i> Share</h3>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                <span class='st_email_large' displayText='Email'></span>
            </div>
            <div class="my_popup-close-button"><a class="my_popup_close my_popup_close-x"><i class="fa fa-times"></i></a></div>
        </div>



        <div class="bp-indicator">
            <div class="bp-item bp-small"><img src="assets/img/bpidentifier-default.gif">Default: Small</div>
            <div class="bp-item bp-small-1"><img src="assets/img/bpidentifier-small-1.gif">Small 1</div>
            <div class="bp-item bp-small-2"><img src="assets/img/bpidentifier-small-2.gif">Small 2</div>
            <div class="bp-item bp-medium"><img src="assets/img/bpidentifier-medium.gif">Medium</div>
            <div class="bp-item bp-medium-1"><img src="assets/img/bpidentifier-medium-1.gif">Medium 1</div>
            <div class="bp-item bp-medium-2"><img src="assets/img/bpidentifier-medium-2.gif">Medium 2</div>
            <div class="bp-item bp-large"><img src="assets/img/bpidentifier-large.gif">Large</div>
            <div class="bp-item bp-large-1"><img src="assets/img/bpidentifier-large-1.gif">Large 1</div>
            <div class="bp-item bp-large-2"><img src="assets/img/bpidentifier-large-2.gif">Large 2</div>
            <div class="bp-item bp-large-3"><img src="assets/img/bpidentifier-large-3.gif">Large 3</div>
        </div>

        <script src="assets/js/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/vendor/jquery.easing.1.3.js"></script>
        <script src="assets/js/vendor/jquery.scrollTo.js"></script>
        <script src="assets/js/vendor/jquery.popupoverlay.js"></script>
        <script src="assets/js/vendor/jquery.stickem.js"></script>
        <script src="assets/js/vendor/scrollspy.js"></script>
        <script src="assets/js/vendor/scroll.handler.js"></script>

<!--        <script src="assets/js/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/vendor/jquery.stickem.js"></script>

        <script>
          $(document).ready(function() {
              $('.article-container').stickem();
          });
          $(window).bind("load", function() {
          var sticky = $('.article-container').stickem();
              sticky.destroy();
          $('.article-container').stickem();
          });
        </script>

        <script src="assets/js/vendor/extras.js"></script>

        <script src="assets/js/jquery.popupoverlay.js"></script>

        <script>
            $('#my_popup').popup({
              scrolllock: true,
              transition: '0.2s all',
              onopen: function(){
                $('#my_popup').data().popupoptions.closetransitionend = null;
              }
            });

            $(".localnav").click(function(event) {
              event.preventDefault();
              $('#my_popup').data().popupoptions.closetransitionend = function () {
                $('html, body').animate({
                  scrollTop: $($('#my_popup').data('onclose-href')).offset().top
                }, 1000, function() {
                  window.location.hash = $('#my_popup').data('onclose-href');
                });
              };
              $('#my_popup').data('onclose-href', $(this).attr('href')).popup('hide');
            });
        </script> -->

        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="assets/js/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "8e09226a-1f42-4cf1-9011-6df4b347f9d4", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='assets/js/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
