
<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<title>Pick=em Report for {{ week_name }}</title>
		<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
		<style>

            div.fw-container div.fw-body div.content {
                margin-top: 5em;
            }

            div.fw-body h1 {
                display: none;
            }

            div.fw-container {
                z-index: 1;
            }

		</style>
        <script
          src="https://code.jquery.com/jquery-3.5.1.min.js"
          integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
          crossorigin="anonymous"
        >
        </script>
		<script src="http://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
		<script>


		$(document).ready( function () {
			$('table')
				.addClass( 'nowrap' )
				.dataTable( {
					responsive: true,
					columnDefs: [
						{ targets: [-1, -3], className: 'dt-body-right' }
					]
				} );
		} );


		</script>
	</head>
	<body class="wide hero">

		<h1>Pick-em Report for {{ week_name }}</h1><br/>

		<h3>Puts</h3><br/>

		<div class="unit w-2-3"><div class="hero-callout">
			{{puts_table}}
		</div>

			<h3>Calls</h3><br/>

		<div class="unit w-2-3"><div class="hero-callout">
			{{calls_table}}
		</div>


	</body>
</html>
